﻿<div class="card">
    <div class="card-body">
        <div class="card-content">
            <h5 class="card-title">Brand:@headset.brand</h5>
            <h5 class="card-title">Model: @headset.model</h5>
            <h5 class="card-title">Color: @headset.color</h5>
            <h5 class="card-title">Frequency Range: @headset.frequencyRange</h5>
            <h5 class="card-title">Microphone: @headset.microphone</h5>
            <!--<h5 class="card-title">Noise Cancellation: @headset.noiseCancellation</h5>
            <h5 class="card-title">Closed / Open: @headset.closeOrOpen</h5>
            <h5 class="card-title">Condition: @headset.itemCondition</h5>-->
            <h4 class="card-title"><a href="@headset.Url">Click here to see the headset!</a></h4>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Headset headset { get; set; }
}
