@page "/product/{productId}"
@inject List<Headset> allProducts

<PageTitle>Product @ProductToShow.brand</PageTitle>
<div class="card" style="width: 18rem;">
    <img src="@ProductToShow.imageUrl" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@ProductToShow.brand</h5>
        <p class="card-text"> 
        
            Model: @ProductToShow.model<br />
            Color: @ProductToShow.color<br />
            Frequency response: @ProductToShow.frequencyRange<br />
            Microphone: @(ProductToShow.microphone ? "Yes" : "No")<br />
            Type of connection: @ProductToShow.typeOfConnection<br />
            Noise cancellation: @(ProductToShow.noiseCancellation ? "Yes" : "No")<br />
            Closed or open: @ProductToShow.closedOrOpen<br />
            Item condition: @ProductToShow.itemCondition<br />   
            Price: $ @ProductToShow.price<br />
            Description: @ProductToShow.description

        </p>
        <a href="https://imgix.ranker.com/user_node_img/50064/1001270663/original/d-photo-u1?auto=format&q=60&fit=crop&fm=pjpg&dpr=2&w=650" class="btn btn-primary">Buy</a>
        <a href="/products" class="btn btn-primary">Back to all products</a>

    </div>
</div>



@code {
    [Parameter]
    public string productId { get; set; }

    public Headset ProductToShow;

    protected override void OnInitialized()
    {
        ProductToShow = allProducts[int.Parse(productId)];
    }
}
